<h2><%= @article.title %></h2>

<br/>
<div class="well">
  <%= @article.content %>
</div>
<% @tags.each do |tag| %>
<%=link_to tag.name,tag_id_path,class: 'label label-default' %>
<% end %>
<br/>
<br/>
<h4>Comments</h4>
<ol>
  <% @comments.each do |c| %>
    <li>
      <strong><%= c.user.username %>: </strong>
      <%= c.content %>
      (<%= time_ago_in_words(c.created_at) %> ago)
    </li>
  <% end %>
</ol><br/>

<%= form_for(@new_comment, url: { action: :create_comment }, html: {class:'form-horizontal'})  do |f| %>
  <fieldset>
    <div class='form-group'>
      <div class='col-md-4'>
        <%= f.text_area :content, class: 'form-control', placeholder: 'Comment' %><br/>
        <%= f.submit 'New Comment', class: 'btn btn-primary btn-xs' %>
      </div>
    </div>
  </fieldset>
<% end %>
